In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv('PointLedger.txt',  encoding = 'utf-8',delimiter=';')

/Users/ansonsuen/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (1,2,6,9,11,12,13,14,21,23,24,25,37,38,39,40,42,46) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [22]:
df1= pd.read_csv('k11_xf_store.csv',  encoding = 'utf-8')

In [5]:
df.columns

Index(['id', 'ORADOCNO', 'TRADESOURCES', 'XF_ACTION', 'PAYMENT_ID',
       'KDP_SERIAL_NUMER', 'CRM_ID', 'TRANSACTION_ID', 'XF_AMOUNT',
       'XF_BATCH_ID', 'XF_BONUS', 'XF_BONUS_EXPIRE_TIME',
       'XF_BONUS_EXPIRE_TYPE', 'XF_BONUSINFO', 'XF_CONTRACTSTORECODE',
       'XF_CURRENCYCODE', 'XF_DOCNO', 'XF_INSERTDATE', 'XF_ISPREBLACKCARD',
       'XF_ISSUESTORE', 'XF_ISSUINGBANK', 'XF_MANUAL_TXDATETIME',
       'XF_PAYMETHODCODE', 'XF_REASONCODE', 'XF_REMARK', 'XF_REMARK2',
       'XF_RULEID', 'XF_STORECODE', 'XF_TXDATE', 'XF_VIPACCOUNTNO',
       'XF_VIPCODE', 'XF_VIPGRADE', 'XF_VOIDSTATUS', 'XF_GIFTTYPE',
       'XF_STORENAME', 'XF_STORENAME_SC', 'XF_STORENAME_TC', 'XF_GIFTNAME_SC',
       'XF_GIFTNAME_EN', 'XF_GIFTNAME_TC', 'VOID_TRANSACTION_ID',
       'NEW_DATA_IND', 'XF_MALLID', 'LASTMODIFYDATE', 'GIFT_ID', 'GIFTITEM',
       'XF_VOIDREASON', 'IS_SALE', 'CANCELLABLE'],
      dtype='object')

In [33]:
df1=df1.rename(columns={"XF_STORECODE": "XF_STORECODE_a"})
df1

,XF_STORECODE_a,XF_NAME,XF_PROFILEID,XF_COUNTRY,XF_ADDRESS1,XF_ADDRESS2,XF_ADDRESS3,XF_ADDRESS4,XF_TELEPHONE,XF_FAX,...,XF_OCRMANUALINPUT,XF_OPENING_HOURS_CN,XF_OPENING_HOURS_TC,XF_OPENING_HOURS_EN,XF_NAME_SC,XF_NAME_TC,XF_REFUNDCYCLE,XF_FISCALYEARENDDATE,VERIFICATIONCODE,STORE_ECOPARTNER_CODE
0,HK010143,Premier by Dead Sea Salt Spa,1,1,212,NaN,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HK010144,ROCKPORT,1,1,216,NaN,NaN,2/F,31224402,NaN,...,0,NaN,NaN,NaN,ROCKPORT,ROCKPORT,NaN,NaN,NaN,NaN
2,HK010145,envItaly,1,1,B106B,NaN,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HK010147,Holly Brown,1,1,G19,NaN,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HK010148,Sticky,1,1,B201,NaN,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2045,HK020514,Frey,1,1,228,NaN,NaN,L2,NaN,NaN,...,0,NaN,NaN,NaN,Frey,Frey,NaN,NaN,NaN,NaN
2046,HK012482,SERENIA,1,1,Kiosk 48 on 2/F,NaN,NaN,2/F,NaN,NaN,...,0,NaN,NaN,NaN,SERENIA,SERENIA,NaN,NaN,NaN,NaN
2047,HK020518,Bang & Olufsen,1,1,113,NaN,NaN,L1,NaN,NaN,...,0,NaN,NaN,NaN,Bang & Olufsen,Bang & Olufsen,NaN,NaN,NaN,NaN
2048,HK020519,Gentry Club - Fendi VIP Private Appointment (7...,1,1,Gentry Club,NaN,NaN,8F,NaN,NaN,...,0,NaN,NaN,NaN,Gentry Club - Fendi VIP Private Appointment (7...,Gentry Club - Fendi VIP Private Appointment (7...,NaN,NaN,NaN,NaN
2049,HK020520,Gentry Club - Saint Laurent VIP Private Appoin...,1,1,Gentry Club,NaN,NaN,8F,NaN,NaN,...,0,NaN,NaN,NaN,Gentry Club - Saint Laurent VIP Private Appoin...,Gentry Club - Saint Laurent VIP Private Appoin...,NaN,NaN,NaN,NaN

In [21]:
# wrong XF_STORENAME 
df[['XF_STORENAME','XF_ACTION','XF_STORECODE']][(df.XF_STORENAME=='SmartPOS Sales Earn') & 
                                                (df.XF_ACTION=='E')&(df.XF_INSERTDATE>='2015-10-05 12:45:39' )&(df.XF_INSERTDATE<='2022-03-21 22:33:14')]

                 XF_STORENAME XF_ACTION XF_STORECODE
9927      SmartPOS Sales Earn         E     HK020125
22065     SmartPOS Sales Earn         E     HK020125
46425     SmartPOS Sales Earn         E     HK020127
46427     SmartPOS Sales Earn         E     HK020127
46995     SmartPOS Sales Earn         E   WH02000032
...                       ...       ...          ...
11215574  SmartPOS Sales Earn         E     HK012147
11215660  SmartPOS Sales Earn         E     HK012367
11215744  SmartPOS Sales Earn         E     HK020035
11216054  SmartPOS Sales Earn         E     HK029774
11216241  SmartPOS Sales Earn         E     HK012313

[142343 rows x 3 columns]

In [34]:

df3=df.merge(df1[['XF_STORECODE_a','XF_NAME']],left_on='XF_STORECODE', right_on='XF_STORECODE_a', how='left')

In [35]:
df3

,id,ORADOCNO,TRADESOURCES,XF_ACTION,PAYMENT_ID,KDP_SERIAL_NUMER,CRM_ID,TRANSACTION_ID,XF_AMOUNT,XF_BATCH_ID,...,NEW_DATA_IND,XF_MALLID,LASTMODIFYDATE,GIFT_ID,GIFTITEM,XF_VOIDREASON,IS_SALE,CANCELLABLE,XF_STORECODE_a,XF_NAME
0,1,NaN,NaN,E,FZHKCRM_OH_B9F55DAA14524FF1990C56551800B9F1,NaN,NaN,FZHKCRM_OH_B9F55DAA14524FF1990C56551800B9F1,157.8,NaN,...,0,NaN,2019-12-11 13:56:51.0000000,NaN,NaN,NaN,0,0,HK010081,Market Place by Jasons
1,2,NaN,NaN,E,FZHKCRM_OH_DD897206CE3244D18852CE10F63926CD,NaN,NaN,FZHKCRM_OH_DD897206CE3244D18852CE10F63926CD,140.9,NaN,...,0,NaN,2019-12-11 13:57:09.0000000,NaN,NaN,NaN,0,0,HK010081,Market Place by Jasons
2,1083,NaN,NaN,A,FZHKCRMCC7EEAF5980C408EE0536A010B0A7435,NaN,NaN,FZHKCRMCC7EEAF5980C408EE0536A010B0A7435,0.0,CRMA-4A818A4DD5DB4B718144BDDF262A4C87,...,0,NaN,2021-09-21 17:21:08.0000000,NaN,NaN,NaN,0,0,NaN,NaN
3,1085,NaN,NaN,G,FZHKCRMCC7ED83427F23FC0E0536A010B0A39B1,NaN,NaN,FZHKCRMCC7ED83427F23FC0E0536A010B0A39B1,23.0,NaN,...,0,NaN,2021-09-21 17:21:09.0000000,NaN,NaN,NaN,0,0,HK029752,Elegant Watch & Jewellery
4,1087,NaN,NaN,G,FZHKCRMCC7ED83427F43FC0E0536A010B0A39B1,NaN,NaN,FZHKCRMCC7ED83427F43FC0E0536A010B0A39B1,88.0,NaN,...,0,NaN,2021-09-21 17:21:32.0000000,NaN,NaN,NaN,0,0,HK020036,INFINITI C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13998247,14697018,1585830955476604610,7.0,A,20221027230410772793e217b259-7e86-4330-8081-7c...,1.666927e+18,CRMP-202210200841d0da59db771959607d8ed6a4e6bcb,20221027230410772793e217b259-7e86-4330-8081-7c...,0.0,CRMP-202210200841d0da59db771959607d8ed6a4e6bcb,...,1,HK01,2022-10-28 11:09:00.0000000,NaN,NaN,NaN,1,0,HK010174,Empire City Roasted Duck
13998248,14697019,1585830977941296960,NaN,G,NaN,NaN,NaN,1585830977941296960,0.0,NaN,...,1,HK01,2022-10-28 11:09:03.0000000,NaN,NaN,NaN,0,1,NaN,NaN
13998249,14697020,1585830999244166912,NaN,G,NaN,NaN,NaN,1585830999244166912,0.0,NaN,...,1,HK01,2022-10-28 11:09:08.0000000,NaN,NaN,NaN,0,1,NaN,NaN
13998250,14697021,1585831019670427456,NaN,G,NaN,NaN,NaN,1585831019670427456,0.0,NaN,...,1,HK01,2022-10-28 11:09:13.0000000,NaN,NaN,NaN,0,1,NaN,NaN
13998251,14697022,1585831061743490880,NaN,G,NaN,NaN,NaN,1585831061743490880,0.0,NaN,...,1,HK01,2022-10-28 11:09:23.0000000,NaN,NaN,NaN,0,1,NaN,NaN

In [39]:
df3.XF_STORENAME=np.where((df3.XF_STORENAME=='SmartPOS Sales Earn') & 
                                                (df3.XF_ACTION=='E')&(df3.XF_INSERTDATE>='2015-10-05 12:45:39' )&(df3.XF_INSERTDATE<='2022-03-21 22:33:14'),df3.XF_NAME, df3.XF_STORENAME)

In [42]:

df3[['XF_STORENAME','XF_ACTION','XF_STORECODE']][(df3.XF_STORENAME=='SmartPOS Sales Earn') & 
                                                (df3.XF_ACTION=='E')&(df3.XF_INSERTDATE>='2015-10-05 12:45:39' )&(df3.XF_INSERTDATE<='2022-03-21 22:33:14')]

Empty DataFrame
Columns: [XF_STORENAME, XF_ACTION, XF_STORECODE]
Index: []